.sidertop {
  background-color: rgba(28, 28, 30);
  height: 338px;
  width: 364px;
  color: white;
}

.top-top {
  height: 179px;
  display: flex;
  padding-top: 40px;
  padding-left: 35px;
}

.topimg {
  width: 90px;
  margin-left: 50px;
  margin-top: 30px;
}

.topsec-tow {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-bottom {
  padding-left: 45px;
  font-size: 15px;
}

.topsec-four {
  margin-top: 10px;
  margin-bottom: 15px;
}

.topsec-three {
  font-size: 25px;
}